In [23]:
import pandas as pd

In [24]:
dataFrame = pd.read_csv("X_file.csv")

In [4]:
dataFrame

      data_url    covar_info   site_index
0  nm_data.csv  nm_covar.csv            1

In [5]:
dataFrame["covar_info"]

0    nm_covar.csv
Name: covar_info, dtype: object

In [6]:
dataFrame.columns

Index(['data_url', 'covar_info', ' site_index'], dtype='object')

In [7]:
dataFrame['data_url']

0    nm_data.csv
Name: data_url, dtype: object

In [8]:
dataFrame.iloc[:, 2]

0    1
Name:  site_index, dtype: int64

In [9]:
files = ['/input/local0/simulatorRun/nm_covar.csv', '/input/local0/simulatorRun/nm_data.csv', '/input/local0/simulatorRun/X_file.csv', 'aa']

In [10]:
[item for (index, item) in enumerate(files) if "X_file" in item]

['/input/local0/simulatorRun/X_file.csv']

In [11]:
dataFrame.values

array([['nm_data.csv', 'nm_covar.csv', 1]], dtype=object)

In [12]:
dataFrame['data_url'][0]

'nm_data.csv'

In [13]:
cache_dict = {'data_urls': '/input/local1/simulatorRun/eu_data.csv', 'lambda_value': 0, 'covar_urls': '/input/local1/simulatorRun/eu_covar.csv', 'site_index': 2}

In [14]:
output_dict = {"computation_phase": "local_0"}

In [15]:
    computation_output = {"output": output_dict, "cache": cache_dict}

In [16]:
import json
json.dumps(computation_output)

'{"output": {"computation_phase": "local_0"}, "cache": {"data_urls": "/input/local1/simulatorRun/eu_data.csv", "lambda_value": 0, "covar_urls": "/input/local1/simulatorRun/eu_covar.csv", "site_index": 2}}'

In [17]:
dataFrame = pd.read_csv("eu_data.csv")

In [18]:
dataFrame

,var1,var2,var3,var4,var5,var6,var7,var8,var9,var10,...,var491,var492,var493,var494,var495,var496,var497,var498,var499,var500
0,0.5000,-0.093,-0.512,-0.414,-0.235,0.1930,-0.142,-0.0197,-0.154,-0.114,...,-0.00466,-0.1530,0.1200,-0.1470,0.261,-0.00314,0.2330,-0.3520,0.278,0.5170
1,0.2280,-0.415,-0.287,-0.466,-0.448,0.4270,-0.442,-0.2510,-0.378,-0.347,...,-0.06410,-0.1380,-0.0254,-0.4250,0.112,-0.13400,0.0178,-0.2620,0.430,0.4200
2,0.2490,-0.372,-0.423,-0.292,-0.334,0.7460,-0.260,-0.0755,-0.229,-0.296,...,-0.03470,-0.0735,-0.2690,-0.2280,-0.374,-0.26000,-0.2840,-0.1610,0.393,0.2770
3,0.1920,-0.331,-0.250,-0.201,-0.229,0.7410,-0.383,-0.3690,-0.479,-0.283,...,0.06280,-0.1450,-0.1990,0.2090,-0.172,-0.18700,-0.1610,0.0599,0.199,0.0982
4,0.2320,-0.583,-0.586,-0.650,-0.658,0.1690,-0.669,-0.5340,-0.356,-0.651,...,-0.01620,0.1630,0.1300,-0.2750,0.267,-0.29200,-0.0304,-0.2540,0.394,0.1160
5,0.3830,-0.549,-0.418,-0.598,-0.506,-0.0603,-0.493,-0.4370,-0.401,-0.552,...,-0.07940,-0.1150,0.1860,-0.2090,0.137,0.08680,0.0321,-0.3890,0.307,0.3400
6,0.0651,-0.442,-0.494,-0.453,-0.455,0.1000,-0.630,-0.5820,-0.651,-0.593,...,0.11700,0.0581,-0.2160,0.0284,-0.454,-0.39700,-0.3100,-0.3490,0.267,0.6970
7,0.0328,-0.543,-0.480,-0.456,-0.495,0.2410,-0.672,-0.6140,-0.630,-0.536,...,0.02340,0.1220,-0.0152,-0.1070,-0.102,-0.10300,0.0277,-0.1410,0.212,0.5890

In [19]:
dataFrame.values.shape

(8, 500)

In [20]:
j = {
    "output": {
        "local_sample_count": 74,
        "XtransposeX_local": [
            [
                118306,
                1889,
                1980,
                0,
                2746
            ],
            [
                1889,
                47,
                29,
                0,
                47
            ],
            [
                1980,
                29,
                54,
                0,
                54
            ],
            [
                0,
                0,
                0,
                0,
                0
            ],
            [
                2746,
                47,
                54,
                0,
                74
            ]
        ],
        "Xtransposey_local": [
            [
                546.9344299999999,
                -824.9177000000002,
                -851.7108099999998,
                -1153.1282999999999,
                -1100.8684499999995,
                1079.3927,
                -771.7146,
                -556.401422,
                -550.6208549999999,
                -1095.0086
            ],
            [
                8.43622,
                -14.951800000000002,
                -15.16651,
                -20.595,
                -19.352150000000005,
                17.498700000000003,
                -12.827399999999999,
                -10.296391000000003,
                -9.849799999999998,
                -18.029579999999992
            ],
            [
                11.380429999999997,
                -15.67,
                -17.621,
                -23.212899999999994,
                -22.48665,
                21.4381,
                -14.438600000000001,
                -9.893149999999999,
                -9.328865,
                -21.618399999999994,
            ],
            [
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0,
                0.0
            ],
            [
                14.24372,
                -21.894599999999997,
                -24.35501,
                -31.5929,
                -30.461150000000004,
                28.6991,
                -19.270999999999997,
                -14.203051000000002,
                -13.632365000000004,
                -29.000279999999997
            ]
        ],
        "site_index": 2,
        "computation_phase": "local_1"
    },
    "cache": {
        "covariates": "{\"columns\":[\"age \",\"sex\",\"diag\",\"site_local0\",\"site_local1\"],\"index\":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73],\"data\":[[36,1,1,0,1],[36,1,1,0,1],[56,1,1,0,1],[56,1,1,0,1],[37,1,1,0,1],[37,1,1,0,1],[51,1,1,0,1],[51,1,1,0,1],[31,1,1,0,1],[31,1,1,0,1],[22,0,1,0,1],[22,0,1,0,1],[20,0,1,0,1],[61,1,1,0,1],[61,1,1,0,1],[57,0,1,0,1],[57,0,1,0,1],[45,1,1,0,1],[45,1,1,0,1],[21,0,1,0,1],[21,0,1,0,1],[36,0,1,0,1],[36,0,1,0,1],[33,0,1,0,1],[33,0,1,0,1],[31,1,1,0,1],[31,1,1,0,1],[41,0,1,0,1],[41,0,1,0,1],[21,0,1,0,1],[21,0,1,0,1],[60,1,1,0,1],[60,1,1,0,1],[22,0,1,0,1],[22,0,1,0,1],[27,0,1,0,1],[27,0,1,0,1],[43,1,1,0,1],[43,1,1,0,1],[46,0,1,0,1],[46,0,1,0,1],[28,0,1,0,1],[23,0,1,0,1],[23,0,1,0,1],[28,1,1,0,1],[28,1,1,0,1],[63,1,1,0,1],[21,1,1,0,1],[21,1,1,0,1],[22,1,1,0,1],[22,1,1,0,1],[54,1,1,0,1],[54,1,1,0,1],[19,0,1,0,1],[62,1,0,0,1],[62,1,0,0,1],[63,1,0,0,1],[63,1,0,0,1],[46,0,0,0,1],[46,0,0,0,1],[22,1,0,0,1],[22,1,0,0,1],[61,1,0,0,1],[61,1,0,0,1],[20,1,0,0,1],[20,1,0,0,1],[27,1,0,0,1],[27,1,0,0,1],[39,1,0,0,1],[39,1,0,0,1],[20,1,0,0,1],[20,1,0,0,1],[23,1,0,0,1],[23,1,0,0,1]]}",
        "local_sample_count": 74
    }
}

In [21]:
import json
json.dumps(j)

'{"output": {"local_sample_count": 74, "XtransposeX_local": [[118306, 1889, 1980, 0, 2746], [1889, 47, 29, 0, 47], [1980, 29, 54, 0, 54], [0, 0, 0, 0, 0], [2746, 47, 54, 0, 74]], "Xtransposey_local": [[546.9344299999999, -824.9177000000002, -851.7108099999998, -1153.1282999999999, -1100.8684499999995, 1079.3927, -771.7146, -556.401422, -550.6208549999999, -1095.0086], [8.43622, -14.951800000000002, -15.16651, -20.595, -19.352150000000005, 17.498700000000003, -12.827399999999999, -10.296391000000003, -9.849799999999998, -18.029579999999992], [11.380429999999997, -15.67, -17.621, -23.212899999999994, -22.48665, 21.4381, -14.438600000000001, -9.893149999999999, -9.328865, -21.618399999999994], [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [14.24372, -21.894599999999997, -24.35501, -31.5929, -30.461150000000004, 28.6991, -19.270999999999997, -14.203051000000002, -13.632365000000004, -29.000279999999997]], "site_index": 2, "computation_phase": "local_1"}, "cache": {"covariates": "{\\"columns\\":[\\"age \\",\\"sex\\",\\"diag\\",\\"site_local0\\",\\"site_local1\\"],\\"index\\":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73],\\"data\\":[[36,1,1,0,1],[36,1,1,0,1],[56,1,1,0,1],[56,1,1,0,1],[37,1,1,0,1],[37,1,1,0,1],[51,1,1,0,1],[51,1,1,0,1],[31,1,1,0,1],[31,1,1,0,1],[22,0,1,0,1],[22,0,1,0,1],[20,0,1,0,1],[61,1,1,0,1],[61,1,1,0,1],[57,0,1,0,1],[57,0,1,0,1],[45,1,1,0,1],[45,1,1,0,1],[21,0,1,0,1],[21,0,1,0,1],[36,0,1,0,1],[36,0,1,0,1],[33,0,1,0,1],[33,0,1,0,1],[31,1,1,0,1],[31,1,1,0,1],[41,0,1,0,1],[41,0,1,0,1],[21,0,1,0,1],[21,0,1,0,1],[60,1,1,0,1],[60,1,1,0,1],[22,0,1,0,1],[22,0,1,0,1],[27,0,1,0,1],[27,0,1,0,1],[43,1,1,0,1],[43,1,1,0,1],[46,0,1,0,1],[46,0,1,0,1],[28,0,1,0,1],[23,0,1,0,1],[23,0,1,0,1],[28,1,1,0,1],[28,1,1,0,1],[63,1,1,0,1],[21,1,1,0,1],[21,1,1,0,1],[22,1,1,0,1],[22,1,1,0,1],[54,1,1,0,1],[54,1,1,0,1],[19,0,1,0,1],[62,1,0,0,1],[62,1,0,0,1],[63,1,0,0,1],[63,1,0,0,1],[46,0,0,0,1],[46,0,0,0,1],[22,1,0,0,1],[22,1,0,0,1],[61,1,0,0,1],[61,1,0,0,1],[20,1,0,0,1],[20,1,0,0,1],[27,1,0,0,1],[27,1,0,0,1],[39,1,0,0,1],[39,1,0,0,1],[20,1,0,0,1],[20,1,0,0,1],[23,1,0,0,1],[23,1,0,0,1]]}", "local_sample_count": 74}}'

In [22]:
dataFrame.values.T

array([[ 0.5   ,  0.228 ,  0.249 , ...,  0.383 ,  0.0651,  0.0328],
       [-0.093 , -0.415 , -0.372 , ..., -0.549 , -0.442 , -0.543 ],
       [-0.512 , -0.287 , -0.423 , ..., -0.418 , -0.494 , -0.48  ],
       ...,
       [-0.352 , -0.262 , -0.161 , ..., -0.389 , -0.349 , -0.141 ],
       [ 0.278 ,  0.43  ,  0.393 , ...,  0.307 ,  0.267 ,  0.212 ],
       [ 0.517 ,  0.42  ,  0.277 , ...,  0.34  ,  0.697 ,  0.589 ]])

In [28]:
dataFrame.columns

Index(['data_url', 'covar_info', ' site_index'], dtype='object')

In [29]:
dataFrame.to_csv("output.csv", index=False)